[submodule "arch/bluepill"]
	path = arch/bluepill
	url = git@github.com:cristovaozr/vez-arch-bluepill.git
[submodule "arch/open407z"]
	path = arch/open407z
	url = git@github.com:cristovaozr/vez-arch-open407z.git
[submodule "components/vez-shell"]
	path = components/vez-shell
	url = git@github.com:cristovaozr/vez-shell.git
[submodule "components/fatfs"]
	path = components/fatfs
	url = git@github.com:cristovaozr/fatfs.git
